In [24]:
import pandas as pd
import numpy as np

In [25]:
#file to load 
file_to_load = "xmas_practice.csv"

In [26]:
#read the wine data

wine_data_df = pd.read_csv(file_to_load)
wine_data_df

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [35]:
#calculate total wine entries

wine_count = wine_data_df["country"].count()

wine_count

150925

In [44]:
#dictionary of countries and number of wines per each 
wine_data_df['country'].value_counts().to_dict()

{'US': 62397,
 'Italy': 23478,
 'France': 21098,
 'Spain': 8268,
 'Chile': 5816,
 'Argentina': 5631,
 'Portugal': 5322,
 'Australia': 4957,
 'New Zealand': 3320,
 'Austria': 3057,
 'Germany': 2452,
 'South Africa': 2258,
 'Greece': 884,
 'Israel': 630,
 'Hungary': 231,
 'Canada': 196,
 'Romania': 139,
 'Slovenia': 94,
 'Uruguay': 92,
 'Croatia': 89,
 'Bulgaria': 77,
 'Moldova': 71,
 'Mexico': 63,
 'Turkey': 52,
 'Georgia': 43,
 'Lebanon': 37,
 'Cyprus': 31,
 'Brazil': 25,
 'Macedonia': 16,
 'Serbia': 14,
 'Morocco': 12,
 'Luxembourg': 9,
 'England': 9,
 'Lithuania': 8,
 'India': 8,
 'Czech Republic': 6,
 'Ukraine': 5,
 'South Korea': 4,
 'Bosnia and Herzegovina': 4,
 'Switzerland': 4,
 'China': 3,
 'Egypt': 3,
 'Slovakia': 3,
 'Japan': 2,
 'Albania': 2,
 'Tunisia': 2,
 'Montenegro': 2,
 'US-France': 1}

In [49]:
#are there any empty cells?
wine_data_df.isnull()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
150925,False,False,False,True,False,False,False,False,True,False,False
150926,False,False,False,False,False,False,False,False,True,False,False
150927,False,False,False,False,False,False,False,False,True,False,False
150928,False,False,False,False,False,False,False,False,True,False,False
150929,False,False,False,True,False,False,False,False,True,False,False

In [53]:
len(wine_data_df["country"].unique())

49

In [54]:
average_wine_price = wine_data_df["price"].mean()
average_wine_price

33.13148249353299

In [58]:
expensive_wine = wine_data_df["price"] = 80
expensive_wine

80

In [68]:
#finding top wines prices
top_wine = wine_data_df.sort_values(["price"], ascending=False)

top_wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,80,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
100632,100632,Italy,"This rosé sparkling wine boasts a pink, copper...",Brut Rosé,87,80,Lombardy,Franciacorta,NaN,Pinot Nero,Castelveder
100616,100616,US,100% Syrah from the same mix of vineyards as t...,NaN,90,80,Washington,Walla Walla Valley (WA),Columbia Valley,Syrah,Watermill
100617,100617,Italy,This is a pure expression of Cabernet Sauvigno...,Marchese di Villamarina,90,80,Sicily & Sardinia,Alghero,NaN,Cabernet Sauvignon,Sella & Mosca
100618,100618,US,"The residual sugar is 2.5%, keeping the alcoho...",NaN,90,80,Washington,Columbia Valley (WA),Columbia Valley,Riesling,Seven Hills

In [69]:
#how to create country level dataframes

In [ ]:
#how to create a sub dataframe

In [ ]:
#how to use the sort by and unique function

In [ ]:
#how to separate values from one column into two columns

In [ ]:
#do we use if statements in pandas? or just for loops?

In [ ]:
#how to filter inside a dataframe